pipeline/2 delta_loading.json
{
	"name": "2 delta_loading",
	"properties": {
		"activities": [
			{
				"name": "DB_TO_Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "new_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_old_watermark",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "delete_old_files",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "SELECT * FROM retail\nWHERE modified_at > '@{variables('old_watermark')}'\nAND modified_at <= '@{activity('new_watermark').output.firstRow.new_watermark}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "postgres",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "blob_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "new_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT MAX(modified_at) AS new_watermark FROM retail ",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "postgres",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "old_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "watermarks",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_old_watermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "old_watermark",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "old_watermark",
					"value": {
						"value": "@activity('old_watermark').output.firstRow.watermark",
						"type": "Expression"
					}
				}
			},
			{
				"name": "update_watermark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DB_TO_Parquet",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT '@{activity('new_watermark').output.firstRow.new_watermark}' AS watermark",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "postgres",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "watermarks",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "delete_old_files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "old_watermark",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "blob_parquet",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"old_watermark": {
				"type": "String",
				"defaultValue": "1990-09-30T05:55:42.156668Z"
			}
		},
		"annotations": []
	}
}