pipeline/2 delta_loading.json
{
	"name": "2 delta_loading",
	"properties": {
		"activities": [
			{
				"name": "DB_TO_Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "new_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_old_watermark",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "SELECT * FROM retail\nWHERE modified_at < '@{variables('old_watermark')}'\nAND modified_at >= '@{activity('new_watermark').output.firstRow.new_watermark}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "postgres",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "blob_parquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "new_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT MAX(modified_at) AS new_watermark FROM retail ",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "postgres",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "old_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "watermarks",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_old_watermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "old_watermark",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "old_watermark",
					"value": ""
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DB_TO_Parquet",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "watermarks",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"old_watermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}